@using System.ComponentModel.DataAnnotations
@inject ResidualKnowledgeApp.Client.Services.IProjectsService ProjectsService

<div style="max-width: 600px;">
    <EditForm Model="@userForm" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <MudElement>
            <MudTextField Label="Фамилия" @bind-Value="userForm.LastName" For="@(() => userForm.LastName)" />
            <br />
            <MudTextField Label="Имя" @bind-Value="userForm.FirstName" For="@(() => userForm.FirstName)" />
            <br />
            <MudTextField Label="Отчество" @bind-Value="userForm.Patronymic" For="@(() => userForm.Patronymic)" />
            <br />
            <MudTextField Label="Email, использованный в MS Forms (необходим для извлечения правильных ответов)" @bind-Value="userForm.RightAnswersEmail" />
            <br />
            <MudButton Style="margin: 8px" ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="ml-auto"
                       StartIcon="@Icons.Filled.CreateNewFolder"
                       Disabled="@disableSubmit">Сохранить</MudButton>
            <br />
        </MudElement>
    </EditForm>
</div>

@code 
{
    private bool disableSubmit;
    private CreateUserForm userForm = new CreateUserForm();

    protected override async Task OnInitializedAsync()
    {
        ProjectsService.OnChange += StateHasChanged;
    }

    async Task HandleSubmit(EditContext context)
    {
        disableSubmit = true;
    }

    public class CreateUserForm
    {
        [Required(ErrorMessage = "Требуется ввести имя")]
        [StringLength(128, ErrorMessage = "Имя не должно превышать 128 символов.")]
        public string FirstName { get; set; }

        [Required(ErrorMessage = "Требуется ввести фамилию")]
        [StringLength(128, ErrorMessage = "Фамилия не должно превышать 128 символов.")]
        public string LastName { get; set; }

        [Required(ErrorMessage = "Требуется ввести отчество")]
        [StringLength(128, ErrorMessage = "Отчество не должно превышать 128 символов.")]
        public string Patronymic { get; set; }

        [StringLength(128, ErrorMessage = "Email не должен превышать 128 символов.")]
        public string RightAnswersEmail { get; set; }
    }
}
